<section th:fragment= "hero" id="inicio" class="hero-section">
        <div class="overlay"></div>
        <div class="container hero-content">
            <div class="row">
                <div class="col-lg-7">
                    <div class="desde-1995">
                        <i class="fas fa-calendar-alt"></i> DESDE 1995 - LA VERDADERA SAZÓN
                    </div>

                    <h1 class="display-2 fw-bold text-white">
                        El auténtico pollo <br>
                        a la brasa <br>
                        al estilo Don Victor
                    </h1>

                    <p class="lead mt-3 text-white">
                        Maserado con nuestra receta secreta y horneado al carbón a fuego lento.
                        Pollo jugoso, piel crujiente y papas doraditas listos para llevar a tu mesa.
                    </p>

                    <div class="mt-4">
                        <a href="#productos" class="btn btn-ordenar btn-lg me-3">Pide Aquí</a>
                        <a th:href="@{/registro}" class="btn btn-crear btn-lg">Únete a la familia</a>
                    </div>
                </div>
            </div>
        </div>
    </section>